src/main/resources/define.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xs:element name="tests">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test" type="sql" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="randomBitsMaxLen" default="64">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="64"/>
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="randomListMaxLen" default="10">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="10"/>
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="randomStrMaxLen" default="100">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="100"/>
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="base" type="dialects" default="ORACLE"/>
            <xs:attribute name="cmp" type="dialects" default="INCEPTOR"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="sql">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="stmtConfig"/>
            <xs:element name="setOperator" type="setOperatorConfig"/>
        </xs:choice>
        <xs:attribute name="transaction" type="xs:boolean" default="false"/>
        <xs:attribute name="threads" type="xs:unsignedInt" default="1"/>
        <xs:attribute name="dialect" type="dialects" default="ORACLE"/>
        <xs:attribute name="tableDdlFile" type="xs:string" default="default_oracle.sql"/>
    </xs:complexType>

    <xs:element name="stmtConfig" type="stmtConfig"/>
    <xs:element name="query" type="queryConfig" substitutionGroup="stmtConfig"/>
    <xs:element name="updateStmt" type="updateStmtConfig" substitutionGroup="stmtConfig"/>
    <xs:element name="createStmt" type="createStmtConfig" substitutionGroup="stmtConfig"/>
    <xs:element name="deleteStmt" type="deleteStmtConfig" substitutionGroup="stmtConfig"/>
    <xs:complexType name="stmtConfig" abstract="true">
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="num" type="xs:unsignedInt" default="100"/>
        <xs:attribute name="table" type="xs:string" default="default_oracle.sql"/>
        <xs:attribute name="dialect" type="dialects" default="ORACLE"/>
    </xs:complexType>

    <xs:complexType name="queryConfig">
        <xs:complexContent>
            <xs:extension base="stmtConfig">
                <xs:sequence>
                    <xs:element name="select" type="selectConfig" minOccurs="1"/>
                    <xs:element name="from" minOccurs="1">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="join" type="joinConfig" minOccurs="0"/>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="where" type="filterOperatorConfig" minOccurs="0"/>
                    <xs:element name="groupBy" type="filterOperatorConfig" minOccurs="0"/>
                    <xs:element name="having" type="filterOperatorConfig" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="queryDepth" default="1">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>Sql Generator Note</xs:appinfo>
                            <xs:documentation xml:lang="en">
                                this attribute not affect the depth of containing recursive queryConfig depth settings
                            </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:unsignedByte">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="updateStmtConfig">
        <xs:complexContent>
            <xs:extension base="stmtConfig"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="deleteStmtConfig">
        <xs:complexContent>
            <xs:extension base="stmtConfig"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="createStmtConfig">
        <xs:complexContent>
            <xs:extension base="stmtConfig"></xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="exprConfig">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="expr" type="exprConfig"/>
            <xs:element name="const" type="const"/>
            <xs:element name="column" type="column"/>
            <xs:element name="udfConfig" maxOccurs="1" minOccurs="0" type="udfConfig"/>
        </xs:choice>
        <xs:attribute name="udfDepth" default="1">
            <xs:simpleType>
                <xs:annotation>
                    <xs:appinfo>Sql Generator Note</xs:appinfo>
                    <xs:documentation xml:lang="en">
                        this attribute not affect the depth of containing recursive exprConfig depth settings
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="10"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="queryDepth" default="0">
            <xs:simpleType>
                <xs:annotation>
                    <xs:appinfo>Sql Generator Note</xs:appinfo>
                    <xs:documentation xml:lang="en">
                        this attribute not affect the depth of containing recursive exprConfig depth setting
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="5"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="subQuery" type="xs:IDREF">
            <xs:annotation xml:lang="en">
                <xs:appinfo>Sql Generator Note</xs:appinfo>
                <xs:documentation xml:lang="en">
                    If user provided subQuery is invalid for this location, program will ignore this setting
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="desc" type="xs:string"/>
        <xs:attribute name="constOrColumnPossibility" type="xs:double" default="0.5"/>
        <xs:attribute name="inputRelation" default="SAME">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SAME"/>
                    <xs:enumeration value="GROUP"/>
                    <xs:enumeration value="RANDOM"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="typedExprConfig">
        <xs:complexContent>
            <xs:extension base="exprConfig">
                <xs:attribute name="type" type="stringList"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="const">
        <xs:complexContent>
            <xs:restriction base="exprConfig">
                <xs:all>
                    <xs:element name="udfConfig" type="udfConfig" maxOccurs="1"/>
                </xs:all>
                <xs:attribute name="constOrColumnPossibility" fixed="1" type="xs:double"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="column">
        <xs:complexContent>
            <xs:restriction base="exprConfig">
                <xs:all>
                    <xs:element name="udfConfig" type="udfConfig" maxOccurs="1" minOccurs="0"/>
                </xs:all>
                <xs:attribute name="constOrColumnPossibility" fixed="0" type="xs:double"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="filterOperatorConfig">
        <xs:sequence>
            <xs:element name="operand" type="exprConfig" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="positiveByte">
        <xs:restriction base="xs:unsignedByte">
            <xs:maxExclusive value="127"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="selectConfig">
        <xs:choice minOccurs="0">
            <xs:element name="selectNum" default="all">
                <xs:simpleType>
                    <xs:union memberTypes="positiveByte">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="all"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:element>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="operand" type="typedExprConfig"/>
                <xs:element name="query" type="xs:IDREF"/>
            </xs:choice>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="setOperatorConfig">
        <xs:sequence>
            <xs:element name="operand" type="setOperand" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="tableOp" use="required"/>
        <xs:attribute name="num" type="xs:unsignedInt"/>
    </xs:complexType>
    <xs:complexType name="joinConfig">
        <xs:sequence>
            <xs:element name="operand" type="relationOperand" maxOccurs="2" minOccurs="0"/>
            <xs:element name="condition" type="exprConfig" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setOperand">
        <xs:choice>
            <xs:element name="subQuery" type="xs:IDREF" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="desc" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="relationOperand">
        <xs:complexContent>
            <xs:extension base="setOperand">
                <xs:choice>
                    <xs:element name="table" type="xs:string" minOccurs="0"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="dialects" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INCEPTOR"/>
            <xs:enumeration value="ORACLE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="udfConfig">
        <xs:choice>
            <xs:element name="udfList" type="possibilityEntry" maxOccurs="4"/>
        </xs:choice>
    </xs:complexType>


    <xs:simpleType name="oneStringList">
        <xs:restriction base="stringList">
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="possibilityEntry">
        <xs:simpleContent>
            <xs:extension base="stringList">
                <xs:attribute name="possibility" type="possibility" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="possibility">
        <xs:restriction base="xs:double">
            <xs:maxInclusive value="1"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="tableOp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNION"/>
            <xs:enumeration value="INTERSECT"/>
            <xs:enumeration value="MINUS"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>